<template>
  <el-dropdown placement="bottom" trigger="click" @command="onCommand">
    <el-button link size="large">
      <Icon name="carbon:ibm-watson-language-translator" size="lg" />
    </el-button>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item
          v-for="option in localOptions"
          :key="option.value"
          :command="option.value"
        >
          <div style="width: 24px">
            <Icon v-if="option.value === locale" name="carbon:checkmark" size="lg" />
          </div>
          {{ option.label }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>
</template>

<script setup lang="ts">
import { Icon } from 'cosey/components';
import { type Language, locale, localOptions } from '@/locale';

defineOptions({
  name: 'LayoutLocale',
});

const onCommand = (lang: Language) => {
  locale.value = lang;
};
</script>
