/* tailwindcss */
@import 'tailwindcss';

/* initialized */
::-ms-reveal {
  display: none;
}

:-webkit-autofill {
  transition-property: background-color !important;
  transition-delay: 86400s !important;
}

body {
  font-size: var(--co-font-size);
  font-family: var(--co-font-family);
  color: var(--co-color-text);
  overflow-x: hidden;
}
